<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "<<Back to articles", articles_path %> <br />
<%= link_to "Delete this article", article_path(@article), method: :delete, data: {confirm:"Are you sure you want to delete?"} %> <br />
<%= link_to "Edit this article", edit_article_path(@article) %>